@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@layer base {
    button {
        all: unset;
    }
}

@layer components {
    /* fonts */
    .font-pacifico {
        font-family: "Pacifico", 'Courier New', Courier, monospace;
    }
    .font-teko {
        font-family: "Teko", 'Courier New', Courier, monospace;
    }
    .font-openSans {
        font-family: "Open Sans", 'Courier New', Courier, monospace;
    }
    /* styles */
    .header-test-shadow {
        text-shadow: .5vw .5vw #848484;
    }

    .tablePlaceHolder{
        background: gray;
        animation: placeHolderAnime 3s infinite alternate-reverse;
    }

    .tableScrollBar::-webkit-scrollbar {
        height: 10px;
    }
    
    .tableScrollBar::-webkit-scrollbar-track {
        background: #E6E6E6;
        border-radius: 10px;
    }
    
    .tableScrollBar::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 10px;
    }

    .formBgStyle{
        background-image: url("/src/images/bitcoin-signup-signin-page-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: color-dodge;
    }
}

@keyframes placeHolderAnime {
    0%{
        background: rgb(200, 200, 200);
    }
    100%{
        background: rgb(73, 73, 73);
    }
}